.upload-card {
  max-width: 400px;
  background-color: rgb(238, 177, 11);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.top-bar {
  height: 60px;
  background: #6f43b5;
  font-size: medium;
  color: white;
}
