.upload-card {
  width: 400px;
  background-color: rgb(238, 177, 11);
  margin: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.error {
  color: red;
  font-size: large;
}
